mat-card-header {
    display: flex;
    flex-direction: column;
    //width: 100%;

    & h1 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    & mat-divider {
        margin-bottom: 30px;
    }
}