<form class="form">
    <mat-form-field class="field">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email">
        <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field class="field">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" name="password">
        <mat-error></mat-error>
    </mat-form-field>
    <div class="buttons-container">
        <button mat-raised-button color="primary">Se connecter</button>
    </div>
</form>
