.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.brand {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}