@import '../../../../../styles/components/mat-card';

.title-with-logo {
    display: flex;
    flex-direction: row;
    flex-direction: flex-start;
    align-items: center;
    margin-bottom: 20px;

    & img {
        width: 75px;
        height: 75px;
        margin-right: 15px;
    }

    & h1 {
        margin: 0;
    }
}