<mat-card>
    <mat-card-header>
        <div class="title-with-logo">
            <img class="logo" src="assets/images/logo-eco-plus.png"/>
            <h1>Bienvenue sur le side project Eco+ !</h1>
        </div>
        <mat-divider></mat-divider>
    </mat-card-header>
    <mat-card-content>
        <p>Vous êtes sur le Side Project Eco++. Ce projet est là pour permettre aux membres de l'équipe de pratiquer le développement avec le framework Angular suite aux formations web ou dans le cadre de leur autoformation.</p>
    </mat-card-content>
</mat-card>
