/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes enter-translate {
    0% {
      opacity: 0;
      //transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      //transform: translateX(0%);
    }
}
  
@keyframes exit-translate {
    0% {
        opacity: 1;
        //transform: translateX(0%);
    }

    100% {
        opacity: 0;
        //transform: translateX(100%);
    }
}

::view-transition-new(content) {
    animation: enter-translate 0.5s ease 0s 1 normal forwards;
}

::view-transition-old(content) {
    animation: exit-translate 0.5s ease 0s 1 normal forwards;
}
